<div class="all">
  <div>
    <button class="boton" routerLink="/">Volver a los productos</button>
  </div>
  <div></div>
  <table>
    <thead>
      <tr>
        <th class="tabla">Nombre</th>
        <th class="tabla">Categoría</th>
        <th class="tabla">Precio unidad</th>
        <th class="tabla">Cantidad</th>
        <th class="tabla">Precio total</th>
        <th class="tabla">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of listaProductos">
        <td class="tabla tabla-item">{{ character.name }}</td>
        <td class="tabla tabla-item">{{ character.species || "Human" }}</td>
        <td class="tabla tabla-item">USD$ {{ character.mass }}</td>
        <td class="tabla tabla-item">
          <div class="cantidad-container">
            <button
              class="cantidad-button"
              (click)="aumentarCantidad(character)"
            >
              +
            </button>
            <input
              class="cantidad-input"
              type="number"
              min="1"
              [(ngModel)]="character.quantity"
              (ngModelChange)="calcularPrecio(character.quantity, character)"
            />
            <button
              class="cantidad-button"
              (click)="disminuirCantidad(character)"
            >
              -
            </button>
          </div>
        </td>
        <td class="tabla tabla-item">
          <span>USD$ {{ character.totalPrice || 0 }}</span>
        </td>
        <td class="tabla tabla-item">
          <button class="boton" (click)="borrarProducto(character)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div></div>
  <div></div>
  <h2>Elija con qué moneda pagar:</h2>
  <select class="select">
    <option value="USD$">USD$ {{ totalPrice }}</option>
    <option value="€">€ {{ totalPrice * 0.9 }}</option>
    <option value="AR$">AR$ {{ totalPrice * 226 }}</option>
  </select>
  <button class="botoncomprar" (click)="realizarCompra()">Comprar</button>
  <div *ngIf="compraRealizada" class="cartel-exito">
    <p>La compra se realizó con éxito.</p>
  </div>
</div>
